/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Water+Brush&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');

/* Base */

@import url('./base/base.css');
@import url('./base/reset.css');

/* Blocks */

@import url('./blocks/header.css');
@import url('./blocks/menu.css');
@import url('./blocks/hero.css');
@import url('./blocks/destination.css');
@import url('./blocks/activity.css');
@import url('./blocks/packages.css');
@import url('./blocks/photos.css');
@import url('./blocks/reviews.css');
@import url('./blocks/contact.css');
@import url('./blocks/footer.css');
